* {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
  scroll-behavior: smooth;
}

#navbar {
  width: 100%;
  font-size: 14px;
  background-color: transparent;
  height: 10vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

#navbar a {
  color: #171a20;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
  margin-top: 30px;
}

#navbar-anchor-div {
  margin-top: 29px;
}

#tesla-logo {
  margin-right: 260px;
  height: 95px;
  width: 150px;
}

#right-link {
  padding-left: 60px;
  margin-right: 0px;
}

.img1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/03e533bf-8b1d-463f-9813-9a597aafb280/bvlatuR/std/4096x2560/M3-Homepage-Desktop-LHD");
}

.img2 {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/8e2df1b9-a4bf-4eb9-beec-2cf5cc77fca0/bvlatuR/std/2880x2400/Desktop-ModelY?quality=70");
}

.img3 {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/538ac149-d103-4834-9d38-641d8ae447ef/bvlatuR/std/4096x2560/Homepage-Model-S-Desktop-LHD");
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.img4 {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/ddc135ed-1638-40fb-8ab1-f8045059ecef/bvlatuR/std/4096x2560/Homepage-Model-X-Desktop-LHD");
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.img5 {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/16b04537-a4be-4bf9-8637-86862a858da8/bvlatuR/std/2880x1800/_25-HP-SolarPanels-D");
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.img6 {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/c877126e-0db5-409d-a412-04fc94b59b76/bvlatuR/std/2880x1800/HP-SR-Design-D");
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.img7 {
  background-image: url("https://tesla-cdn.thron.com/delivery/public/image/tesla/dd739764-bcaa-4263-9488-8c73bc9fb046/bvlatuR/std/0x0/dd739764-bcaa-4263-9488-8c73bc9fb046");
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.bg_img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
  padding-top: 0.3%;
  left: 50%;
  margin-top: 94px;
}

.subtitle {
  color: #171a20;
  font-size: 16px;
  font-weight: 300;
  margin-top: -100px;
  width: 300px;
}

.touchless-delivery-link {
  color: #171a20;
}

.buttons {
  display: flex;
  justify-content: center;

  margin-bottom: 0px;
  font-size: 12px;
  margin-top: 205px;
}

.button-black {
  height: 40px;
  width: 250px;
  border-radius: 18px;
  padding: 10px;
  border: none;
  background-color: #171a20cc;
  color: #f4f4f4f6;
  margin-right: 20px;
  text-transform: uppercase;
}
.button-white {
  height: 40px;
  width: 250px;
  border-radius: 18px;
  padding: 10px;
  border: none;
  background-color: #f4f4f4f6;
  color: #171a20cc;
  text-transform: uppercase;
}

#footer {
  letter-spacing: 1px;
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 40px;
}

.footer-links {
  color: #5c5e62;
  text-decoration: none;
  margin: 10px;
}

@media only screen and (max-width: 850px) {
  .model {
    display: none;
  }
  .model2 {
    display: none;
  }
  #navbar {
    display: flex;
    height: 3vh;
    width: 850px;
  }
  #tesla-logo {
    margin-top: 15px;
    height: 115px;
    width: 182px;
  }
  #navbar a {
    margin-right: 38px;
    border-radius: 10px;
    background-color: rgb(193, 193, 193, 0.3);
    padding: 7px;
  }
  .title {
    margin-top: 200px;
  }
  .subtitle {
    margin-top: -218px;
  }
}

@media only screen and (max-width: 600px) {
  #navbar-image-div {
    width: 120px;
    height: 40px;
  }

  #navbar-anchor-div {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #tesla-logo {
    height: 100px;
    width: 150px;
    margin-top: -43px;
    margin-right: 750px;
  }
  .model {
    display: none;
  }
  .model2 {
    display: none;
  }
  #navbar {
    height: 3vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .title {
    margin-top: 85px;
  }
  .subtitle {
    margin-top: -99px;
  }

  .buttons {
    display: block;
  }
  .button-black {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  .button-white {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .footer-links {
    margin: 5px;
  }
  #footer {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
  }
  #navbar a {
    margin-left: 48px;
    margin-top: -13px;
  }
}

@media only screen and (max-width: 1024px) {
  .subtitle {
    margin-top: -72px;
  }
  .model {
    display: none;
  }
  .model2 {
    display: none;
  }
  #tesla-logo {
    margin-right: 750px;
    margin-top: -33px;
  }
  #navbar a {
    margin-left: 20px;
    border-radius: 10px;
    background-color: rgb(193, 193, 193, 0.3);
    padding: 7px;
  }
  #navbar {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 912px) {
  #tesla-logo {
    margin-right: 644px;
  }
  .title {
    margin-top: 184px;
  }
  .subtitle {
    margin-top: -203px;
  }
  .buttons {
    margin-top: 600px;
  }
  #navbar-anchor-div {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 768px) {
  #tesla-logo {
    margin-right: 653px;
    margin-top: -55px;
  }
  #navbar a {
    margin-left: -149px;
  }
  .title {
    margin-top: 161px;
  }
  .subtitle {
    margin-top: -90px;
  }
  .buttons {
    margin-top: 503px;
  }
  #navbar-anchor-div {
    margin-top: -14px;
  }
}

@media only screen and (max-width: 820px) {
  #tesla-logo {
    margin-right: 521px;
    margin-top: -48px;
  }
  .subtitle {
    margin-top: -130px;
  }
  .buttons {
    margin-top: 545px;
  }
  #navbar-anchor-div {
    margin-top: -14px;
  }
}
